*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
.form{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
@keyframes move{
    0%{
        top: 300px;
    }
    10%{
        top: 270px;
    }
    20%{
        top:240px;
    }
    30%{
        top:200px;
    }
    40%{
        top:180px;
    }
    50%{
        top:150px;
    }
    60%{
        top: 120px;
    }
    70%{
        top: 90px;
    }
    80%{
        top: 60px;
    }
    90%{
        top: 30px;
    }
    100%{
        top: 0px;
    }
}
.form-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 219, 217, 0.932);
}
#hhh{
    color: rgb(255, 11, 113);
    font-size: 50px;
    top: 200px;
    right: 750px;
    position: absolute;
}
hr{
    border: 2px solid red;
}
@keyframes move1{
    from {
        left: 30px;
    }
    to {
        right: 400px;
    }
}
.form-overlay--text{
    display: flex;
    width: 1000px;
    margin: 100px 400px;
    font-size: 70px;
    color: royalblue;
    animation: move1 2s infinite;
}
.text-Wish{
    width: 500px;
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 45px;
    color: rebeccapurple;
}
.form-body{
    bottom: 400px;
    z-index: 1;
}
.form-item--icon{
    color: red;
    font-size: 35px;
    position: absolute;
    animation: move 2s infinite;
}
.form-item--icon:nth-child(1){
    margin: 0 100px;
    animation: move 3s infinite;
}
.form-item--icon:nth-child(2){
    margin: 0 200px;
    animation: move 5s infinite;
}
.form-item--icon:nth-child(3){
    margin: 0 300px;
    animation: move 6s infinite;
}
.form-item--icon:nth-child(4){
    margin: 0 400px;
    animation: move 2s infinite;
}
.form-item--icon:nth-child(5){
    margin: 0 500px;
    animation: move 5s infinite;
}
.form-item--icon:nth-child(6){
    margin: 0 600px;
    animation: move 3s infinite;
}
.form-item--icon:nth-child(7){
    margin: 0 700px;
    animation: move 6s infinite;
}
.form-item--icon:nth-child(8){
    margin: 0 800px;
    animation: move 4s infinite;
}
.form-item--icon:nth-child(9){
    margin: 0 900px;
    animation: move 5s infinite;
}
.form-item--icon:nth-child(10){
    margin: 0 1000px;
    animation: move 3s infinite;
}
.form-item--icon:nth-child(11){
    margin: 0 1100px;
    animation: move 2.2s infinite;
}
.form-item--icon:nth-child(12){
    margin: 0 1200px;
    animation: move 4s infinite;
}
.form-item--icon:nth-child(13){
    margin: 0 1300px;
    animation: move 6s infinite;
}
.form-item--icon:nth-child(14){
    margin: 0 1400px;
    animation: move 3s infinite;
}
.form-item--icon:nth-child(15){
    margin: 0 10px;
    animation: move 3s infinite;
}
.form-item--icon:nth-child(1){
    margin: 0 50px;
    animation: move 6s infinite;
}